              
              
              <div class="container">
              <div class="jumbotron">
                <h1>{{{title}}}</h1>
                <p>Bienvenidos</p>
                <hr class="my-4">
                <p>Pagina inicial</p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
              </div>
              
              
              <form action="/guardar" method="post">
               Nombre:<br>
               <input type="text" id="firstname"  name="firstname" placeholder="nombre" value=""><br>
               Apellido<br>
               <input type="text" id="lastname"  name="lastname" placeholder="apellido" value=""><br>
               Email<br>
               <input type="email" id="email" name="email" placeholder="Email" value=""><br>
            
               <!--<input type="text" name="lastname" value="Mouse"><br><br>-->
               <input type="submit" value="Submit">
            </form>
            </div>